
body{
    padding:0;
    margin:0;
    background: black;
}
.first{
    background: black;
    /* opacity: 60%; */
    margin-top: 0;
    padding-top: 0;


}

.last{
    margin-top:0;
    padding-top:0;
}